<div class="event__attachment">
    <div class="attachment attachment__active">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
    <div class="attachment">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
    <div class="attachment">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
    <div class="attachment">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
    <div class="attachment">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
    <div class="attachment">
        <div class="attachment__content">
            <div class="range-up">
                <div class="attachment__title">Кольца</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">серьги</div>
            </div>
            <div class="range-up">
                <div class="attachment__title">подвески</div>
            </div>
        </div>
        <div class="attachment__content">
            <div class="range-down">
                <div class="attachment__title">запонки</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">браслеты</div>
            </div>
            <div class="range-down">
                <div class="attachment__title">часы</div>
            </div>
        </div>
    </div>
</div>